<h1>About Me</h1>



<div class="row">
  <div class="col-md-4">
        <%= image_tag "", width: 200, height: 200, alt: "profile image" %>
      </div>
      <div class="col-md-8">
      <p>

      <p>Web Developer based in Bangkok Thailand. I have a passion for solving complex problems. My areas of focus include Ruby on Rails, Golang, and  Algorithms & Data Structures.</p>
  </div>
</div>
<br>
<h4>My Skills</h4>
<%= image_tag "skills/rors.png", width: 100, height: 100, alt: "Ruby on rails" %>
<%= image_tag "skills/golang.png",  width: 80, height: 100, alt: "profile image" %>
<%= image_tag "skills/JS.png",  width: 100, height: 100, alt: "profile image" %>
<%= image_tag "skills/html.png",  width: 100, height: 100, alt: "profile image" %>


